@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Libre+Baskerville:wght@400&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #F3F3F3;
    color: #D4D4D4;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh; 
    overflow: hidden; 
}

/* Estilização específica para a tela de login */
.container-login {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center; /* Centralizar o conteúdo horizontalmente */
    align-items: center; /* Centralizar o conteúdo verticalmente */
    background-image: url('/images/login-background.jpg'); /* Definir a imagem de fundo */
    background-size: cover; /* Cobrir toda a tela */
    background-position: center; /* Centralizar a imagem de fundo */
}

.login-container {
    background-color: rgba(32, 42, 55, 0.90); /* Tornar o fundo do login-container mais transparente */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px; /* Ajustar a largura */
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(70%); 
}

.login-container h1 {
    font-size: 55px;
    color: white;
    font-family: 'Bevan', sans-serif;
    margin-top: -40px; /* Subir o "Purg" em 5 linhas */
    margin-bottom: 30px; /* Adicionar espaçamento abaixo do "Purg" */
}

.login-container label {
    color: #D4D4D4;
    font-size: 13px; /* Diminuído o tamanho da fonte */
    text-align: left;
    width: 100%;
    margin-bottom: 5px; /* Espaço entre o label e o input */
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 80%; /* Reduzido em 1/5 */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #4682B4;
    border-radius: 5px;
    background-color: #F3F3F3;
    color: #D4D4D4;
    font-size: 14px;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    border-color: #1E90FF;
    outline: none;
}

.login-container button {
    width: 80%; /* Centralizar e ajustar a largura */
    padding: 10px;
    background-color: #4682B4;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Descer o botão em 2 linhas */
}

.login-container button:hover {
    background-color: #1E90FF;
}

#error-message {
    color: red;
    margin-top: 15px;
    display: none;
}

/* Responsividade para a tela de login */
@media (max-width: 480px) {
    .login-container {
        padding: 20px;
        width: 90%;
    }

    .login-container h1 {
        font-size: 45px; /* Ajustar o tamanho do "Purg" em telas menores */
    }

    .login-container input[type="email"],
    .login-container input[type="password"],
    .login-container button {
        width: 100%; /* Garantir que os elementos ocupem a largura total */
    }
}

/* Estilização adicional para os elementos do site principal */
.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-panel {
    width: 18%; 
    background-color: #202A37;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    overflow-y: auto; 
}

.purg-title {
    font-size: 55px; 
    font-family: 'Bevan', sans-serif; 
    color: white;
    display: flex;
    align-items: flex-end; 
    gap: 5px; 
    margin-top: -5px; 
}

.beta-box {
    background-color: #6C737F; 
    color: white;
    padding: 4px 8px; 
    border-radius: 12px; 
    font-family: 'Libre Baskerville', serif; 
    font-size: 12.8px; 
    font-style: normal; 
    font-weight: 400; 
    transform: translateY(-10px); 
}

.center-panel {
    width: 62%; 
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; 
}

.bets-title {
    color: #D4D4D4;
    font-size: 48px; 
    text-align: center;
    margin-bottom: 20px;
}

#backtestButton, #configButton {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #202A37;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
}

#backtestButton:hover, #configButton:hover {
    background-color: #F3F3F3;
}

#logoutButton {
    padding: 5px 10px; 
    font-size: 14px;
    border: 1px solid #4682B4; 
    border-radius: 5px;
    background-color: #202A37; 
    color: #D4D4D4; 
    cursor: pointer;
    font-weight: bold; 
    margin-top: auto; 
    transition: background-color 0.3s;
}

#logoutButton:hover {
    background-color: #4682B4; 
}


