@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Libre+Baskerville:wght@400&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #F3F3F3;
    color: #D4D4D4;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh; 
    overflow: hidden; 
}

/* Estilização específica para a tela de login */
.container-login {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center; /* Centralizar o conteúdo horizontalmente */
    align-items: center; /* Centralizar o conteúdo verticalmente */
    background-image: url('/images/login-background.jpg'); /* Definir a imagem de fundo */
    background-size: cover; /* Cobrir toda a tela */
    background-position: center; /* Centralizar a imagem de fundo */
}

.login-container {
    background-color: rgba(32, 42, 55, 0.90); /* Tornar o fundo do login-container mais transparente */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px; /* Ajustar a largura */
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(70%); 
}

.login-container h1 {
    font-size: 55px;
    color: white;
    font-family: 'Bevan', sans-serif;
    margin-top: -40px;
    margin-bottom: 30px;
}

.login-container label {
    color: #D4D4D4;
    font-size: 13px;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #4682B4;
    border-radius: 5px;
    background-color: #F3F3F3;
    color: #D4D4D4;
    font-size: 14px;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    border-color: #1E90FF;
    outline: none;
}

.login-container button {
    width: 80%;
    padding: 10px;
    background-color: #4682B4;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.login-container button:hover {
    background-color: #1E90FF;
}

#error-message {
    color: red;
    margin-top: 15px;
    display: none;
}

/* Responsividade para a tela de login */
@media (max-width: 480px) {
    .login-container {
        padding: 20px;
        width: 90%;
    }

    .login-container h1 {
        font-size: 45px;
    }

    .login-container input[type="email"],
    .login-container input[type="password"],
    .login-container button {
        width: 100%;
    }
}

/* Estilização adicional para os elementos do site principal */
.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-panel {
    width: 18%;
    background-color: #202A37;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.purg-title {
    font-size: 55px;
    font-family: 'Bevan', sans-serif;
    color: white;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    margin-top: -5px;
}

.beta-box {
    background-color: #6C737F;
    color: white;
    padding: 4px 8px;
    border-radius: 12px;
    font-family: 'Libre Baskerville', serif;
    font-size: 12.8px;
    font-style: normal;
    font-weight: 400;
    transform: translateY(-10px);
}

.center-panel {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #F3F3F3;
}

/* Cards dos Usuários */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.card {
    flex: 1;
    background-color: #FFFFFF;
    color: #333333;
    border: 1px solid #D4D4D4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #4682B4;
}

.card a {
    color: #1E90FF;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.page-title {
    color: #D4D4D4;
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
}

#usuariosButton, #configButton, #resultadosButton, #tokensButton, #ecossistemaButton, #receitasButton, #rotinasButton {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #202A37;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
}

#usuariosButton:hover, #configButton:hover, #resultadosButton:hover, #tokensButton:hover, #ecossistemaButton:hover, #receitasButton:hover, #rotinasButton:hover {
    background-color: #657BB4;
}

#logoutButton {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #4682B4;
    border-radius: 5px;
    background-color: #202A37;
    color: #D4D4D4;
    cursor: pointer;
    font-weight: bold;
    margin-top: auto;
    transition: background-color 0.3s;
}

#logoutButton:hover {
    background-color: #4682B4;
}

/* Formulário de suitability */
#suitabilityDetailsForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

#suitabilityDetailsForm label {
    font-weight: bold;
    color: #333333;
    margin-bottom: 7px;
}

#suitabilityDetailsForm input,
#suitabilityDetailsForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333333;
    background-color: #F9F9F9;
}

/* Formulário de detalhes financeiros */
#financialDetailsForm {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

#financialDetailsForm label {
    grid-column: span 1;
    font-weight: bold;
    color: #333333;
    margin-bottom: 7px;
}

#financialDetailsForm input,
#financialDetailsForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333333;
    background-color: #F9F9F9;
}

#financialDetailsForm button {
    grid-column: span 2;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.center-panel h2, .center-panel h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
}

.button-azul, .button-vermelho, .button-verde {
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    color: white;
}

.button-azul {
    background-color: #4682B4;
}

.button-azul:hover {
    background-color: #1E90FF;
}

.button-vermelho {
    background-color: #DE9A95;
}

.button-vermelho:hover {
    background-color: #F70808;
}

.button-verde {
    background-color: #43992A;
}

.button-verde:hover {
    background-color: #5BCF38;
}

.cards-basico {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

#chartsContainer {
    display: flex;
    justify-content: center; /* Ajusta os gráficos para o centro do contêiner */
    align-items: center;
    gap: 20px; /* Espaçamento entre os gráficos */
}

#chartsContainer canvas {
    width: 300px !important; /* Ajuste conforme necessário */
    height: 300px !important;
    box-sizing: border-box;
}

#carteiraChart, #carteiraRendimentosChart {
    width: auto !important;
    height: auto !important;
}


/* Estilo para a tabela de rotinas */
.rotinas-table {
    width: 100%; /* Largura total do container pai */
    border-collapse: collapse; /* Remove espaços entre bordas de células */
    margin-top: 20px; /* Espaçamento superior */
}

/* Estilo para células de cabeçalho */
.rotinas-table th {
    background-color: #f4f4f4; /* Cor de fundo para o cabeçalho */
    color: #333; /* Cor do texto no cabeçalho */
    padding: 10px; /* Espaçamento interno */
    text-align: left; /* Alinha o texto à esquerda */
    border-bottom: 2px solid #ddd; /* Linha inferior com maior espessura */
}

/* Estilo para células de corpo da tabela */
.rotinas-table td {
    padding: 10px; /* Espaçamento interno */
    border-bottom: 1px solid #ddd; /* Linha inferior das células */
    color: #333;
}

/* Altera a cor de fundo ao passar o mouse sobre uma linha */
.rotinas-table tr:hover {
    background-color: #f5f5f5; /* Cor de fundo ao passar o mouse */
}

/* Estilo para o botão "Executar" */
.rotinas-table button {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 5px 10px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block; /* Exibe como inline-block */
    font-size: 14px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mãozinha ao passar sobre o botão */
}

/* Estilo para o botão ao passar o mouse */
.rotinas-table button:hover {
    background-color: #45a049; /* Cor de fundo mais escura ao passar o mouse */
}

